<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
    <meta name="keywords"

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/brand/favicon.ico" />

    <!-- TITLE -->
    <title>Add Page</title>

    <!-- BOOTSTRAP CSS -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/dark-style.css" rel="stylesheet" />
    <link href="../../assets/css/skin-modes.css" rel="stylesheet" />

    <!-- SIDE-MENU CSS -->
    <link href="../../assets/css/closed-sidemenu.css" rel="stylesheet">

    <!--C3 CHARTSCSS -->
    <link href="../../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="../../assets/plugins/p-scroll/perfect-scrollbar.css" rel="stylesheet" />

    <!-- FILE UPLODE CSS -->
    <link href="../../assets/plugins/fileuploads/css/fileupload.css" rel="stylesheet" type="text/css"/>

    	<!-- SELECT2 CSS -->
		<link href="../../assets/plugins/select2/select2.min.css" rel="stylesheet"/>

    <!-- MORRIS CHART CSS -->
    <link href="../../assets/plugins/morris/morris.css" rel="stylesheet" />

    <!-- ION-RANGESLIDER CSS -->
    <link href="../../assets/plugins/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="../../assets/plugins/ion.rangeSlider/css/ion.rangeSlider.skinSimple.css" rel="stylesheet">

    <!--- FONT-ICONS CSS -->
    <link href="../../assets/css/icons.css" rel="stylesheet" />

    <!-- SIDEBAR CSS -->
    <link href="../../assets/plugins/sidebar/sidebar.css" rel="stylesheet">
    <!-- DATA TABLE CSS -->
    <link href="../../assets/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="../../assets/colors/color1.css" />

</head>

<body class="app sidebar-mini">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="../../assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!--APP-SIDEBAR-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar">
                <div class="side-header">
                    <a class="header-brand1" href="index.html">
                        <img src="../../assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                        <img src="../../assets/images/brand/logo-1.png" class="header-brand-img toggle-logo" alt="logo">
                        <img src="../../assets/images/brand/logo-2.png" class="header-brand-img light-logo" alt="logo">
                        <img src="../../assets/images/brand/logo-3.png" class="header-brand-img light-logo1" alt="logo">
                    </a><!-- LOGO -->
                    <a aria-label="Hide Sidebar" class="app-sidebar__toggle ml-auto" data-toggle="sidebar" href="#"></a>
                    <!-- sidebar-toggle-->
                </div>
                <div class="app-sidebar__user">
                    <div class="dropdown user-pro-body text-center">
                        <div class="user-pic">
                            <img src="../../assets/images/users/10.jpg" alt="user-img" class="avatar-xl rounded-circle">
                        </div>
                        <div class="user-info">
                            <h6 class=" mb-0 text-dark">Elizabeth Dyer</h6>
                            <span class="text-muted app-sidebar__user-name text-sm">Administrator</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-navs">
                    <ul class="nav  nav-pills-circle">
                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Settings">
                            <a class="nav-link text-center m-2">
                                <i class="fe fe-settings"></i>
                            </a>
                        </li>


                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Logout">
                            <a class="nav-link text-center m-2">
                                <i class="fe fe-power"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="side-menu">
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="index.html"><i
                                class="side-menu__icon ti-home"></i><span class="side-menu__label">Dashboard</span></a>

                    </li>

                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-first-order"></i><span class="side-menu__label">Orders</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a href="orders.html" class="slide-item"> All Orders</a></li>
                            <li><a href="pending-orders.html" class="slide-item"> Pending Orders</a></li>
                            <li><a href="Processing-orders.html" class="slide-item"> Processing Orders</a></li>
                            <li><a href="completed-orders.html" class="slide-item"> Completed Orders</a></li>
                            <li><a href="declined-orders.html" class="slide-item"> Declined Orders</a></li>

                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-product-hunt"></i><span class="side-menu__label">Products</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a class="side-menu__item" data-toggle="slide" href="add-product.html"><span class="side-menu__label">Add Products</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="products.html"><span class="side-menu__label">All Products</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="deactivated-products.html"><span class="side-menu__label">Deactivated Products</span></a></li>

                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-user-circle"></i><span class="side-menu__label">Customers</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a class="side-menu__item" data-toggle="slide" href="add-coustmer.html"><span class="side-menu__label">Add New</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="customers.html"><span class="side-menu__label">Customers List</span></a></li>

                        </ul>
                    </li> 
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-industry"></i><span class="side-menu__label">Vendors</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a class="side-menu__item" data-toggle="slide" href="add-new-vendor.html"><span class="side-menu__label">Add New</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="vindor-list.html"><span class="side-menu__label">Vendors List</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="#"><span class="side-menu__label">withdraws</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="#"><span class="side-menu__label">Vendors Verifications</span></a></li>

                        </ul>
                    </li>
                    
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-list"></i><span class="side-menu__label">Manage Categories</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a class="side-menu__item" data-toggle="slide" href="main-category.html"><span class="side-menu__label">Main Category</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="sub-category.html"><span class="side-menu__label">Sub Category</span></a></li>
                           

                        </ul>
                    </li> 
                    
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-mobile"></i><span class="side-menu__label">Manage app</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a class="side-menu__item" data-toggle="slide" href="#"><span class="side-menu__label">Slider</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="#"><span class="side-menu__label">Products</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="#"><span class="side-menu__label">Company</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="#"><span class="side-menu__label">Freelance</span></a></li>
                           

                        </ul>
                    </li>  
                    
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-globe"></i><span class="side-menu__label">Manage web</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a class="side-menu__item" data-toggle="slide" href="slider-home-page.html"><span class="side-menu__label">Slider</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="features.html"><span class="side-menu__label">Features</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="#"><span class="side-menu__label">Banner login</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="download-app.html"><span class="side-menu__label">DOWNLOAD app</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="logo-company.html"><span class="side-menu__label">Logo Company</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="testimonial.html"><span class="side-menu__label">Testimonial</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="pages.html"><span class="side-menu__label">Pages</span></a></li>
                           

                        </ul>
                    </li>
                    
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i
                                class="side-menu__icon fa fa-cog"></i><span class="side-menu__label">General Settings</span><i
                                class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a class="side-menu__item" data-toggle="slide" href="setting-logo.html"><span class="side-menu__label">General</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="setting-payment.html"><span class="side-menu__label">Payment</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="setting-email.html"><span class="side-menu__label">Email</span></a></li>
                            <li><a class="side-menu__item" data-toggle="slide" href="setting-social.html"><span class="side-menu__label">Social</span></a></li>
                        

                        </ul>
                    </li>










                </ul>
            </aside>
            <!--/APP-SIDEBAR-->

            <!-- Mobile Header -->
            <div class="mobile-header">
                <div class="container-fluid">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>
                        <!-- sidebar-toggle-->
                        <a class="header-brand" href="index.html">
                            <img src="../../assets/images/brand/logo.png" class="header-brand-img desktop-logo"
                                alt="logo">
                            <img src="../../assets/images/brand/logo-3.png"
                                class="header-brand-img desktop-logo mobile-light" alt="logo">
                        </a>
                        <div class="d-flex order-lg-2 ml-auto header-right-icons">
                            <button class="navbar-toggler navresponsive-toggler d-md-none" type="button"
                                data-toggle="collapse" data-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical text-white"></span>
                            </button>
                            <div class="dropdown profile-1">
                                <a href="#" data-toggle="dropdown" class="nav-link pr-2 leading-none d-flex">
                                    <span>
                                        <img src="../../assets/images/users/10.jpg" alt="profile-user"
                                            class="avatar  profile-user brround cover-image">
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <div class="drop-heading">
                                        <div class="text-center">
                                            <h5 class="text-dark mb-0">Elizabeth Dyer</h5>
                                            <small class="text-muted">Administrator</small>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon mdi mdi-account-outline"></i> Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon  mdi mdi-settings"></i> Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="float-right"></span>
                                        <i class="dropdown-icon mdi  mdi-message-outline"></i> Inbox
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon mdi mdi-comment-check-outline"></i> Message
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
                                    </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                                    </a>
                                </div>
                            </div>
                            <!-- SIDE-MENU -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-1 navbar navbar-expand-lg  responsive-navbar navbar-dark d-md-none bg-white">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown d-sm-flex">
                            <a href="#" class="nav-link icon" data-toggle="dropdown">
                                <i class="fe fe-search"></i>
                            </a>
                            <div class="dropdown-menu header-search dropdown-menu-left">
                                <div class="input-group w-100 p-2">
                                    <input type="text" class="form-control " placeholder="Search....">
                                    <div class="input-group-append ">
                                        <button type="button" class="btn btn-primary ">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- SEARCH -->
                        <div class="dropdown d-md-flex">
                            <a class="nav-link icon full-screen-link nav-link-bg">
                                <i class="fe fe-maximize fullscreen-button"></i>
                            </a>
                        </div><!-- FULL-SCREEN -->
                        <div class="dropdown d-md-flex notifications">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <i class="fe fe-bell"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="notifications-menu">
                                    <a class="dropdown-item d-flex pb-3" href="#">
                                        <div class="fs-16 text-success mr-3">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                        <div class="">
                                            <strong>Someone likes our posts.</strong>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex pb-3" href="#">
                                        <div class="fs-16 text-primary mr-3">
                                            <i class="fa fa-commenting-o"></i>
                                        </div>
                                        <div class="">
                                            <strong>3 New Comments.</strong>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex pb-3" href="#">
                                        <div class="fs-16 text-danger mr-3">
                                            <i class="fa fa-cogs"></i>
                                        </div>
                                        <div class="">
                                            <strong>Server Rebooted</strong>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-center">View all Notification</a>
                            </div>
                        </div><!-- NOTIFICATIONS -->

                    </div>
                </div>
            </div>
            <!-- /Mobile Header -->

            <!--app-content open-->
            <div class="app-content">
                <div class="side-app">

                    <!-- PAGE-HEADER -->
                    <div class="page-header">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle close-toggle" data-toggle="sidebar"
                            href="#"></a><!-- sidebar-toggle-->
                        <div>
                            <h1 class="page-title">Dashboard</h1>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Page</li>
                            </ol>
                        </div>
                        <div class="d-flex  ml-auto header-right-icons header-search-icon">
                            <div class="dropdown d-sm-flex">
                                <a href="#" class="nav-link icon" data-toggle="dropdown">
                                    <i class="fe fe-search"></i>
                                </a>
                                <div class="dropdown-menu header-search dropdown-menu-left">
                                    <div class="input-group w-100 p-2">
                                        <input type="text" class="form-control " placeholder="Search....">
                                        <div class="input-group-append ">
                                            <button type="button" class="btn btn-primary ">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- SEARCH -->
                            <div class="dropdown d-md-flex">
                                <a class="nav-link icon full-screen-link nav-link-bg">
                                    <i class="fe fe-maximize fullscreen-button"></i>
                                </a>
                            </div><!-- FULL-SCREEN -->
                            <div class="dropdown d-md-flex notifications">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fe fe-bell"></i>
                                    <span class="nav-unread badge badge-success badge-pill">2</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <div class="notifications-menu">
                                        <a class="dropdown-item d-flex pb-3" href="#">
                                            <div class="fs-16 text-success mr-3">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </div>
                                            <div class="">
                                                <strong>Someone likes our posts.</strong>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex pb-3" href="#">
                                            <div class="fs-16 text-primary mr-3">
                                                <i class="fa fa-commenting-o"></i>
                                            </div>
                                            <div class="">
                                                <strong>3 New Comments.</strong>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex pb-3" href="#">
                                            <div class="fs-16 text-danger mr-3">
                                                <i class="fa fa-cogs"></i>
                                            </div>
                                            <div class="">
                                                <strong>Server Rebooted</strong>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">View all Notification</a>
                                </div>
                            </div><!-- NOTIFICATIONS -->

                            <div class="dropdown profile-1">
                                <a href="#" data-toggle="dropdown" class="nav-link pr-2 leading-none d-flex">
                                    <span>
                                        <img src="../../assets/images/users/10.jpg" alt="profile-user"
                                            class="avatar  profile-user brround cover-image">
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <div class="drop-heading">
                                        <div class="text-center">
                                            <h5 class="text-dark mb-0">Elizabeth Dyer</h5>
                                            <small class="text-muted">Administrator</small>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon mdi mdi-account-outline"></i> Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon  mdi mdi-settings"></i> Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="float-right"></span>
                                        <i class="dropdown-icon mdi  mdi-message-outline"></i> Inbox
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon mdi mdi-comment-check-outline"></i> Message
                                    </a>
                                    <div class="dropdown-divider mt-0"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
                                    </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                                    </a>
                                </div>
                            </div>
                            <!-- SIDE-MENU -->
                        </div>
                    </div>
                    <!-- PAGE-HEADER END -->

                    <!-- ROW-1 OPEN -->
                   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h3 class="card-title">Add Page Product</h3>
                                    <a href="#" class="btn btn-success mt-1">Add</a>

                                </div>
                                <div class="card-body">
                                   
                                    
                                    <div class="form-group">
                                    
                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Page Name</label>
                                        <input type="text" class="form-control" name="example-text-input" placeholder="Enter Product Name">
                                    </div>
    
                                    <div class="form-group">
                                    <label class="form-label">Page Description</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Description here ..."></textarea>
                                    </div>
    
                                   
                                    
                                    <div class="col-lg-12">
                                        <div class="card shadow">
                                            <div class="card-header">
                                                <h3 class="mb-0 card-title">Page Image</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="dropify-wrapper" style="height: 312px;"><div class="dropify-message"><span class="file-icon"></span> <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" class="dropify" data-height="300"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
                                            </div>
                                        </div>
                                    </div><!-- COL END -->
    
                                    
                                    
                                </div>
                            </div>
                        </div><!-- COL END -->
                        
                    
                    </div>
                    <!-- ROW-1 CLOSED -->
                    <!-- ============== END CONTENT ==============  -->
    
        
    </div>
                    
                    <!-- ROW-1 CLOSED -->




                </div>
            </div>
            <!-- CONTAINER END -->
        </div>
        <!-- Remove Order MODAL -->
        <div id="smallModal" class="modal fade">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Delete Order !!</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are You Sure To Delete Order !!</p>
                    </div><!-- MODAL-BODY -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div><!-- MODAL-DIALOG -->
        </div>
        <!-- Remove Order MODAL CLOSED -->
        <!-- Show Order MODAL -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Order Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row">
                             <!-- COL END -->
							<div class="col-md-12  col-xl-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Order <span class="text-blue">#55</span></h3>
										
									</div>
									<div class="card-body">
                                        <div>
                                            <p class="font-weight-bolder">Order  Number : <span class="text-blue">55</span></p>
                                            <p class="font-weight-bolder">Product : <span class="text-blue">Paper</span></p>
                                            <p class="font-weight-bolder">Quntaty : <span class="text-blue">5</span></p>
                                            <p class="font-weight-bolder">Amount : <span class="text-blue">$ 2,356</span></p>
                                            <p class="font-weight-bolder">Date : <span class="text-blue">07/15/2021</span></p>
                                            <p class="font-weight-bolder">Status : <span class="text-success">Active</span></p>
                                        </div>
									</div>
								</div>
							</div><!-- COL END -->
                        </div>
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Show Order CLOSED -->


        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 text-center">
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="../../assets/js/jquery-3.4.1.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/popper.min.js"></script>

    <!-- SPARKLINE JS-->
    <script src="../../assets/js/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE JS-->
    <script src="../../assets/js/circle-progress.min.js"></script>

    <!-- RATING STARJS -->
    <script src="../../assets/plugins/rating/jquery.rating-stars.js"></script>

    <!-- CHARTJS CHART JS-->
    <script src="../../assets/plugins/chart/Chart.bundle.js"></script>
    <script src="../../assets/plugins/chart/utils.js"></script>

    <!-- PIETY CHART JS-->
    <script src="../../assets/plugins/peitychart/jquery.peity.min.js"></script>
    <script src="../../assets/plugins/peitychart/peitychart.init.js"></script>

     <!-- FILE UPLOADES JS -->
     <script src="../../assets/plugins/fileuploads/js/fileupload.js"></script>
     <script src="../../assets/plugins/fileuploads/js/file-upload.js"></script>

    <!-- ECHART JS-->
    <script src="../../assets/plugins/echarts/echarts.js"></script>

    <!-- SIDE-MENU JS-->
    <script src="../../assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- SIDEBAR JS -->
    <script src="../../assets/plugins/sidebar/sidebar.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="../../assets/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="../../assets/plugins/p-scroll/pscroll.js"></script>
    <script src="../../assets/plugins/p-scroll/pscroll-1.js"></script>

    <!-- SELECT2 JS -->
		<script src="../../assets/plugins/select2/select2.full.min.js"></script>

    <!-- APEXCHART JS -->
    <script src="../../assets/js/apexcharts.js"></script>

    <!-- INDEX JS -->
    <script src="../../assets/js/index1.js"></script>

    <!-- CUSTOM JS-->
    <script src="../../assets/js/custom.js"></script>

    <!-- DATA TABLE JS-->
    <script src="../../assets/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="../../assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="../../assets/plugins/datatable/datatable.js"></script>
    <script src="../../assets/plugins/datatable/datatable-2.js"></script>
    <script src="../../assets/plugins/datatable/dataTables.responsive.min.js"></script>

</body>

</html>